@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap');

@layer base {
  body {
    @apply bg-soapstone dark:bg-county-green-darker;
    @apply  text-county-green dark:text-soapstone;
    @apply transition-colors;
  }
  li {
    @apply cursor-pointer;
  }
}

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
